body { margin: 0; padding: 0; }
.map-container {
  width: 100%;
  height: 800px; /* Altura deseada del mapa */
  position: relative;
}

#RegionSel {
  display: none;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#header{

  margin-top: 3%;
  margin-bottom: 10px;

}

#paises{
  display: flex;
  justify-content: center;
}

.icon-pais{
  max-width: 30px;
  max-height: 30px;
}

.marker {
    background-image: url('../img/gota_petroleo.png');
    background-size: cover;
    width: 10px;
    height: 15px;
    cursor: pointer;
  }


  .btn-s{
    color:#198754;
    border: 1px solid #198754;
    border-radius: 7px;
    padding-left : 30px;
    padding-right : 30px;
    font-size: 18px;
  }

  .btn-s:hover {
    background-color: #198754;
  }

  #Buscar {
    display: none;
  }

  .tts{
    background-color: blue;
  }


  .center {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .buscar {
    border-radius: 25px;
    background-color: #00aeff;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #fff;
    padding: 10px 20px 10px 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  .search{
    width: 30px;
    height: 30px;
    padding: auto;
    margin: auto;
  }
  

  #loader {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 209, 235, 0.8);
    z-index: 9999;
    text-align: center;
    padding-top: 30%;
  }
                                                                           